@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --clr-dark-cyan: hsl(185, 75%, 39%);
    --clr-desaturated-blue: hsl(229, 23%, 23%);
    --clr-dark-greysh-blue: hsl(227, 10%, 46%);
    --clr-dark-grey: hsl(0, 0%, 59%);


}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url('../images/bg-pattern-top.svg');
    background-position: top;
    background-image: url('../images/bg-pattern-bottom.svg');
    background-position: bottom;
    background-color: VAR(--clr-dark-cyan);
}

.MAIN{
    background-color: white;
    background-image: url('../images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 1rem;
    width: 20%;
    padding: 10rem 6rem 10rem 6rem;
    margin: 10rem auto; 
}

.VICTOR{
    margin: -2rem auto auto 4rem;
    border-radius: 2.5rem;
    border: 0.1rem solid white;
}

h1{
 font-size: 1.3rem;   
 margin: 0 auto auto 2rem;
}

h2{
    font-weight: 400;
    font-size: 1.2rem;
    opacity: 0.6;
    margin: -1.5rem 0 0 11rem;
}