@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --clr-dark-cyan: hsl(185, 75%, 39%);
    --clr-desaturated-blue: hsl(229, 23%, 23%);
    --clr-dark-greysh-blue: hsl(227, 10%, 46%);
    --clr-dark-grey: hsl(0, 0%, 59%);


}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url('../images/bg-pattern-top.svg');
    background-position: top;
    background-image: url('../images/bg-pattern-bottom.svg');
    background-position: bottom;
}
